@charset "utf-8";
@font-face
{
	font-family: 'FranklinGothic';
	src: url(https://github.com/BCNNofficial/BCNNofficial.github.io/raw/main/FRAMDCN.TTF) format('truetype');
}
/*Effects to text itself*/
body 
{
	font-family: Helvetica, Arial;
	text-size-adjust: none;
}
h2 
{
	color:rgba(54,54,54,1.00);
}
h3 
{
	color:rgba(115,115,115,1.00);
}
a 
{
	text-decoration: none;
}
body 
{
	background-color:rgba(232,218,213,1.00);
}
/*Effects to types of text*/
#intro_text 
{
	color:rgba(255,0,4,1.00); 
	text-align: center; 
	text-decoration: underline
}
.sample_text 
{
	color:rgba(126,126,126,1.00);
}
.italictext 
{
	font-style: italic;
}
.title_text 
{
	color:rgba(0,0,0,1.1); 
	font-size:50px
}
.informers 
{
	color:rgba(30,12,4,1.00); 
	line-height:30px; 
	font-size: 18px
}
/*Effects to groupings of text*/
.newsshort 
{
	width: 90%; 
	margin: auto; 
	border: 2px solid rgba(200,200,200,1); 
	border-top: 6px solid rgba(200,200,200,1);
	position:relative; top: 200px
}
.totalinformer 
{
	margin:auto; 
	position:relative; 
	top: 150px
}
#pageheader 
{
	margin:auto; 
	border: 2px solid rgba(255,171,117,1.00); 
	background-color: rgba(255,171,117,1.00)
}
/*Images*/
#rainbow-with-church 
{
	max-width:200px; 
	float:left; 
	margin:10px
}
/*Graphics*/
div.choice
{
	display:table;
	width:80%;
	table-layout:fixed;
}
div.choice span
{
	display:table-cell;
	text-align: center;
	font-size:30px;
	font-stretch:condensed;
	font-family: "Helvetica","Arial";
	/*"Franklin Gothic","Verdana","Microsoft Sans Serif Regular","Helvetica","Arial"*/
}
div.choice span div a
{
	color:black;
}
div.title a
{
	color:black;
}
	
@media (max-width:1310px)
{
	#t5
	{
		display:none;
	}
}
@media (max-width:1050px)
{
	#t1
	{
		display:none;
	}
}
@media (max-width:700px)
{
	#t4
	{
		display:none;
	}
}
@media (max-width:550px)
{
	#t3
	{
		display:none;
	}
	.side-menu
	{
		width:100%;
	}
}
@media (max-width:400px)
{
	#t2
	{
		display:none;
	}
}
.top-back
{
	background:rgba(69,45,19,1.00);
	width: 100%;
	height: 135px;
	position: fixed;
	left: 0px;
	top: 0x;
	left: 0px;
	z-index: 10;
}
.title {
	color:black;
	background:rgba(255,137,0,1.00); 
	width:100%; height:100px; 
	position:fixed; 
	left:0px; 
	top:0px;
	font-size: 60px; 
	text-align: center;  
	line-height: 100px; 
	text-shadow: 3.5px 0 #000000;
	z-index:10
}
.choice {
	background: rgba(255,137,0,1.00);
	width: 100%;
	height: 40px;
	position: fixed;
	left: 0px;
	top: 102px;
	left: 10%;
	z-index: 10;
}
.tabs
{
	background: rgba(255,137,0,1.00);
	width: 100%;
	height: 40px;
	position: fixed;
	left: 0px;
	top: 102px;
	left: 0px;
	z-index: 10;
}
.more
{
	position:fixed;
	font-size:20px;
	margin: 50px 25px;
	border:2px solid rgba(0,0,0,1);
	z-index:11;
	top:59px;
	left:calc(100% - 100px);
	cursor:pointer;
}
.topics-tab
{
	position:fixed;
	font-size:22px;
	line-height: 30px;
	margin: auto;
	border:3px solid rgba(0,0,0,1);
	background:rgba(255,194,117,1.00);
	z-index: 12;
}
.footnote
{
	cursor: pointer;
}
.footnote-box
{
	position:absolute;
	font-size:15px;
	line-height:20px;
	width:360px;
	border:3px solid rgba(0,0,0,1);
	background:rgba(255,194,117,1.00);
}
@media (min-width: 550px), (width:550px)
{
	.side-menu
	{
		width:500px;
	}
}
.side-menu
{
	z-index: 13;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	margin:auto;
	border:5px solid rgba(0,0,0,1);
	background: rgba(255,191,192,1.00);
	font-size:30px;
	line-height:45px;
	color:black;
}
.button
{
	height:30px;
	vertical-align: middle;
	cursor: pointer;
}
.button-div
{
	display:inline-block;
}
.exit-button
{
	z-index: 15;
	height:30px;
	vertical-align: middle;
	cursor: pointer;
	position:fixed;
	top:15px;
	left:460px;
}
.line
{
	align-content: center;
	width:90%;
	height:2px;
	margin:auto;
	border:2px solid rgba(0,0,0,1);
}


/*Headings and text content for topics pages*/
.topic-preceeder
{
	color:#858585;
}
@media (max-aspect-ratio: 4/3), (aspect-ratio:4/3) /*height longer than width (smaller than 1?)*/
{
	.topic-preceeder
	{
		font-size:60px;
		line-height: 60px;
		position:relative;
		top:-15px;
	}
	.topic-header
	{
		font-size:180px;
		line-height: 140px;
		position:relative;
		top:-15px;
	}
	.topic-noter
	{
		font-size: 32px;
		color:#6b6b6b;
		line-height: 30px;
	}
	hr
	{
		display:none;
	}
	.topic-detailer-informer
	{
		width:100%;
		margin:auto;
		position: relative;
	}
	.topic-detailer
	{
		text-align: left;
		width:95%;
		margin:auto;
	}
	.topic-answer
	{
		font-size:80px;
	}
	.topic-question
	{
		font-size:42px;
		width:100px;
		color:#6b6b6b;
		vertical-align: bottom;
		text-align: right;
		overflow-wrap: break-word;
		hyphens:auto;
	}
	th 
	{
		margin:auto;
		border:1px solid #b1b1b1
	}
	.topic-stories-collection
	{
		width:95%;
		margin:auto;
		
	}
	.topic-stories-collection .topic-stories
	{
		text-align: center;
		font-size:50px;
		font-stretch:condensed;
		font-family: "Franklin Gothic","Verdana","Microsoft Sans Serif Regular","Helvetica","Arial";
	}
	.topic-storybox
	{
		width:75%;
		height:157px;
		margin:auto;
		border: 3px solid rgba(0,0,0,1);
		position: relative;
	}
	.topic-story-section
	{
		text-align:center;
		font-size:70px;
		line-height: 60px;
	}
	.topic-info
	{
		width:95%;
		margin:auto;
		font-size:38px;
		line-height: 45px;
		text-align: justify;
		color:#151515;
	}
	.topic-subsection-title
	{
		font-size:40px;
		line-height: 80px;
	}
}
@media (min-aspect-ratio: 4/3) /*width longer than height (larger than 1+)*/
{
	.topic-preceeder
	{
		font-size:40px;
		line-height: 50px;
		position:relative;
		top:-15px;
	}
	.topic-header
	{
		font-size:100px;
		line-height: 70px;
		position:relative;
		top:-15px;
	}
	.topic-noter
	{
		font-size: 22px;
		color:#6b6b6b;
		line-height: 25px;
	}
	.topic-detailer-informer
	{
		margin:auto;
		position: relative;
	}
	.topic-detailer
	{
		text-align: left;
		width:70%;
		font-size:30px;
		color:rgba(61,61,61,1.00)
	}
	.topic-stories-collection
	{
		display:table;
		width:80%;
		margin:auto;
		table-layout:fixed;
	}
	.topic-stories-collection .topic-stories
	{
		display:table-cell;
		text-align: center;
		font-size:30px;
		font-stretch:condensed;
		font-family: "Franklin Gothic","Verdana","Microsoft Sans Serif Regular","Helvetica","Arial"
	}
	.topic-storybox
	{
		width: 180%;
		height:157px;
		margin:auto;
		border: 3px solid rgba(0,0,0,1);
	}
	.topic-story-section
	{
		width:1000px;
		line-height: 20px;
		position:relative;
		left:60px;
	}
	.topic-info
	{
		width:55%;
		position:relative;
		left:120px;
		font-size:18px;
		line-height: 28px;
		text-align: justify;	
		color:#151515;
	}
	.topic-subsection-title
	{
		width:1000px;
		position:relative;
		left:60px;
		font-size:40px;
		line-height: 120px;
	}
}



/*Heading and text content for story pages*/
@media (max-aspect-ratio: 4/3), (aspect-ratio:4/3) /*height longer than width (smaller than 1?)*/
{
	.story-header-container
	{
		width:95%;
		margin:auto;
	}
	.story-header-container .story-topics-list a:visited, .story-header-container .story-topics-list a
	{
		color:#949494;
		font-weight: bold;
	}
	.story-header-container .story-writing-details a:visited
	{
		color:#6b6b6b;
	}
	.story-topics-list
	{
		font-weight: bold;
		font-size: 23px;
		line-height: 50px;
		position: relative;
		left:40px;
		width:50%;
	}
	.story-title
	{
		font-weight: bold;
		font-size: 50px;
		font-stretch: condensed;
	}
	.story-author
	{
		font-weight: bold;
	}
	.story-writing-details
	{
		color:#6b6b6b;
		font-stretch: condensed;
		font-size: 20px;
	}
	.story-writing-details-text
	{
		display:inline-block;
		width:70%;
	}
	.story-social-media-icon
	{
		float:right;
		margin-left: 10px;
	}
	.story-social-media-icon-button
	{
		width:40px;
	}
	.story-body-container
	{
		width:90%;
		margin:auto;
	}
	.story-body-image
	{
		max-width:90%;
		margin:auto;
	}
	.story-image-caption
	{
		font-size:19px;
		font-weight: bold;
	}
	.story-body-text
	{
		text-align: justify;
		font-size:22px;
		line-height: 32px;
		color:#212121;
	}
	.story-subsection-title
	{
		font-size:35px;
		font-weight:bold;
		font-style:italic;
	}
	.story-disclaimer
	{
		font-size:16px;
		color:#858585;
		font-weight: bold;
		line-height: 25px;
	}
}
@media (min-aspect-ratio:4/3) /*width longer than height (larger than 1+)*/
{
	.story-header-container
	{
		width:85%;
		position:relative;
		left:15%;
	}
	.story-header-container .story-topics-list a:visited, .story-header-container .story-topics-list a
	{
		color:#949494;
		font-weight: bold;
	}
	.story-header-container .story-writing-details a:visited
	{
		color:#6b6b6b;
	}
	.story-topics-list
	{
		font-weight: bold;
		font-size: 18px;
		line-height: 40px;
		position: relative;
		left:40px;
		width:50%;
	}
	.story-title
	{
		font-weight: bold;
		font-size: 50px;
	}
	.story-author
	{
		font-weight: bold;
	}
	.story-writing-details
	{
		color:#6b6b6b;
		font-stretch: condensed;
		font-size: 20px;
	}
	.story-writing-details-text
	{
		display:inline-block;
		width:30%;
	}
	.story-social-media-icon
	{
		display:inline-block;
	}
	.story-social-media-icon-button
	{
		width:40px;
	}
	.story-body-container
	{
		position:relative;
		left:15%;
		width:55%;
	}
	.story-body-image
	{
		max-width:55%;
	}
	.story-image-caption
	{
		font-size:15px;
		font-weight: bold;
	}
	.story-body-text
	{
		text-align: justify;
		font-size:20px;
		line-height: 30px;
		color:#212121;
	}
	.story-subsection-title
	{
		font-size:30px;
		font-weight:bold;
		font-style:italic;
	}
	.story-disclaimer
	{
		font-size:12px;
		color:#858585;
		font-weight: bold;
		line-height: 25px;
	}
}
.sign-up-container
{
	width:90%;
	margin: auto;
	border:4px solid #000000;
	background-color: #e0a8a8;
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	vertical-align:auto;
}
.sign-up-text
{
	font-style: italic;
	position:relative;
}
.sign-up-submit-box
{
	font-size:20px
}
