@charset "utf-8";
@media (max-aspect-ratio:4/3), (aspect-ratio:4/3)
{
    #search-section
    {
        width:90%;
        margin:auto;
        background-image: linear-gradient(to right, #a9bffc, #9ab5ff);
        border:6px solid #000000;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #search-bar-div
    {
        display:inline-block;
        width:100%;
        margin:20px;
    }
    #search-button-div
    {
        display:inline-block;
        width:20%;
        margin:20px;
    }
    #Title
    {
        font-size: 35px;
        font-weight: bold;
        width:500px;
    }
    #search-button
    {
        font-size: 35px;
        font-weight: bold;
    }
    .coverage-box
    {
        width:80%;
        margin:auto;
        border:6px solid #000000;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .coverage-sub
    {
        width:95%;
        margin:auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .coverage-title
    {
        font-size: 50px;
        font-weight: bold;
        font-stretch: condensed;
    }
    .coverage-desc
    {
        font-size: 25px;
        margin-top: 10px;
    }
    .coverage-story-top
    {
        font-size: 38px;
        font-weight: bold;
        font-style: italic;
        margin-top: 40px;
    }
    .coverage-story-container
    {
        background-color: rgba(0,0,0,0.1);
        border:4px solid #000000;
        overflow-x: scroll;
    }
    .coverage-storybox
    {
        width:500px;
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(230, 230, 230));
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left:40px;
        margin-right: 40px;
        border: 5px solid #000000;
        display:inline-block;
        color:black;
    }
    .coverage-story-sub
    {
        width:95%;
        margin:auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .coverage-story-title
    {
        font-size: 30px;
        font-weight: bold;
        font-stretch: condensed;
    }
    .coverage-story-date
    {
        color:gray;
        font-size: 20px;
        font-stretch: condensed;
    }
    .coverage-story-img-div
    {
        width:98%;
        margin:auto;
    }
    .coverage-story-img
    {
        width:100%;
        border:2px solid gray;
    }
    .coverage-story-disc
    {
        color:gray;
    }
    .no-results
    {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color:gray;
    }
}
@media (min-aspect-ratio:4/3)
{
    #search-section
    {
        width:90%;
        margin:auto;
        background-image: linear-gradient(to right, #a9bffc, #9ab5ff);
        border:6px solid #000000;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #search-bar-div
    {
        display:inline-block;
        width:50%;
        margin:20px;
    }
    #search-button-div
    {
        display:inline-block;
        width:20%;
        margin:20px;
    }
    #Title
    {
        font-size: 35px;
        font-weight: bold;
        width:500px;
    }
    #search-button
    {
        font-size: 35px;
        font-weight: bold;
    }
    .coverage-box
    {
        width:80%;
        margin:auto;
        border:6px solid #000000;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .coverage-sub
    {
        width:95%;
        margin:auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .coverage-title
    {
        font-size: 40px;
        font-weight: bold;
        font-stretch: condensed;
    }
    .coverage-desc
    {
        font-size: 18px;
        margin-top: 10px;
    }
    .coverage-story-top
    {
        font-size: 35px;
        font-weight: bold;
        font-style: italic;
        margin-top: 40px;
    }
    .coverage-story-container
    {
        background-color: rgba(0,0,0,0.1);
        border:4px solid #000000;
        overflow-x: scroll;
    }
    .coverage-storybox
    {
        width:250px;
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(230, 230, 230));
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left:20px;
        margin-right: 20px;
        border: 5px solid #000000;
        display:inline-block;
        color:black;
    }
    .coverage-story-sub
    {
        width:95%;
        margin:auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .coverage-story-title
    {
        font-size: 20px;
        font-weight: bold;
        font-stretch: condensed;
    }
    .coverage-story-date
    {
        color:gray;
        font-size: 15px;
        font-stretch: condensed;
    }
    .coverage-story-img-div
    {
        width:98%;
        margin:auto;
    }
    .coverage-story-img
    {
        width:100%;
        border:2px solid gray;
    }
    .coverage-story-disc
    {
        color:gray;
    }
    .no-results
    {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color:gray;
    }
}
